# Environment Variables
.env
.env.local
.env.*.local
.env.production
.env.development

# Next.js Build Output
.next/
out/
build/
dist/

# Database Files
*.db
*.db-journal

# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Editor & OS files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
